<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/loginCss/otp.css" />

</head>

<body>

    <main>
        <div class="box">
            <div class="inner-box">
                <div class="forms-wrap">

                    <% if (notification) { %>
                        <div class="notification" id="notification"><%= notification %></div>
                      <% } %>

                    <form action="/register/verifyUserEmail" method="post" autocomplete="on" class="sign-in-form">

                        <div class="heading">
                            <h2>Verify Your Email</h2>
                            <h6>Not registred yet?</h6>
                            <a href="/signup" class="toggle">Sign up</a>
                        </div>

                        <div class="actual-form">
                            <div class="input-wrap">
                                <input   id="otpInput" name="otpInput" type="text" minlength="6" class="input-field" autocomplete="off" required  />
                                <label>Enter the OTP</label>
                            </div>
                            <input type="submit" value="Verify" class="sign-btn" id="verifyButton"  name="otpInput"/>
                        </div>
                    </form>
                </div>

                <div class="carousel">
                    <div class="images-wrapper">
                        <img src="./images/login/image1.png" class="image img-1 show" alt="" />
                        <img src="./images/login/image2.png" class="image img-2" alt="" />
                        <img src="./images/login/image3.png" class="image img-3" alt="" />
                    </div>

                    <div class="text-slider">
                        <div class="text-wrap">
                            <div class="text-group">
                                <h2>Employee Management System</h2>
                                <h2>Add Your Employees +</h2>
                                <h2>Employees Are here !</h2>
                            </div>
                        </div>

                        <div class="bullets">
                            <span data-value="1"></span>
                            <span data-value="2"></span>
                            <span data-value="3"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="./javascript/loginSiginup.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const notification = document.getElementById('notification');
            if (notification) {
                setTimeout(() => {
                    notification.style.display = 'none';
                }, 6000);
            }
        });
    </script>

</body>

</html>