<!-- ADD EMPLOYEE TOASTBOX -->
<div id="addEmployeeToast">
    <div class="layer">
        <div class="layer1">
            <div class="addSnacknotification">
                <i class="fas fa-check-circle"></i>
                <div class="addToastMainText">Success</div>
            </div>
            <div class="addToast-content">
                <div class="addToast-text"> Employee Added Successfully.... </div>
            </div>
        </div>
        <button class="layer2" onclick="addemployeeCloseToast()">
            <i class="fa-solid fa-circle-xmark"></i>
        </button>
    </div>
</div>
<!-- /ADD EMPLOYEE TOASTBOX -->
