<!-- DELETE EMPLOYEEE TOASTBOX -->
<div id="deleteEmployeeToast">
    <div class="d-layer">
        <div class="d-layer1">
            <div class="deleteSnacknotification">
                <i class="fa-solid fa-trash"></i>
                <div class="deleteToastMainText">Success</div>
            </div>
            <div class="deleteToast-content">
                <div class="deleteToast-text">Employee Deleted Successfully.... </div>
            </div>
        </div>
        <button class="d-layer2" onclick="deleteEmployeeToastClose()">
            <i class="fa-solid fa-circle-xmark"></i>
        </button>
    </div>
</div>

<!-- /DELETE EMPLOYEEE TOASTBOX -->