<!-- DELETE BOX -->
<div id="deletebox" class="del-box form-background col-lg-5">
    <div class="alert">
        <div class="alert-text">Delete Employee</div>
        <button onclick="closealert()" class="close-button form">&times;</button>
    </div>
    <div class="delete-btn-text">Are you want to delete employe?</div>
    <div id="deleteactionbtns" class="cancel-dele-btns d-flex justify-content-end">
        <button onclick="closealert()" id="alert-box-cancel" class="btn-light cancel-btn">Cancel</button>
        <button id="alert-box-delete" class="filled-btn delete-btn">Delete</button>
    </div>
</div>

<!-- /DELETE BOX --> 