<!-- EDIT EMPLOYEE TOASTBOX -->
<div id="editEmployeeToast">
    <div class="e-layer">
        <div class="e-layer1">
            <div class="editSnacknotification">
                <i class="fa-solid fa-user-pen"></i>
                <div class="editToastMainText">Success</div>
            </div>
            <div class="editToast-content">
                <div class="editToast-text"> Employee Edited Successfully.... </div>
            </div>
        </div>
        <button class="e-layer2" onclick="editEmployeeToastClose()">
            <i class="fa-solid fa-circle-xmark"></i>
        </button>
    </div>
</div>
<!-- /EDIT EMPLOYEE TOASTBOX -->