<!-- EMPLOYEE DETAILS TABLE  -->

<div class="table-content" id="remover">
    <div class="table-section">
        <div class="header-text-count">
            <div class="table-head">Employees List</div>
            <select class="noPage" id="employeePerpage">
                <option value="5" selected>5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <div class="pageCount">of 10</div>
        </div>
        <div class="banner-btn">
            <button onclick="openForm()" class="filled-btn">Add Employee</button>
        </div>
    </div>
    <div class="employtable-data">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="tableHader-Icon">Sl.No</th>
                    <th scope="col" class="tableHader-Icon">Name</th>
                    <th scope="col" class="tableHader-Icon">Email</th>
                    <th scope="col" class="tableHader-Icon">Phone</th>
                    <th scope="col" class="tableHader-Icon">Gender</th>
                    <th scope="col" class="tableHader-Icon">DOB</th>
                    <th scope="col" class="tableHader-Icon">Country</th>
                    <th scope="col"></th>
                </tr>


                <!-- /EMPLOYEE DETAILS TABLE  -->

            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>
</div>