<div class="fullSection">
    <div class="main-content">
        <div class="banner-header">
            <div class="banner-text">
                <div class="head-text">Dashboard / Employees</div>
                <div class="main-head">Employees</div>
            </div>