<!-- NAV LINKS -->

<div class="nav-bar-Powered">
    <ul class="navbars">
        <li><a href="#"><i class="fa-solid fa-house"></i> <span class="navrbars-text">Dashboard</span></a>
        </li>
        <li><a href=""><i class="fa-solid fa-chart-simple"></i><span
                    class="navrbars-text">Employees</span></a></li>
        <li><a href=""><i class="fa-solid fa-user"></i><span class="navrbars-text">My Profile</span></a>
        </li>
        <li><a href=""><i class="fa-solid fa-lock"></i><span class="navrbars-text">Logout</span></a></li>

    </ul>
</div>

<!-- NAV LINKS -->