<!-- SEARCH -->
<div class="search-profile">
    <div class="search-bar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="search" id="searchUser" onkeyup="searchEmployee()" placeholder="search">
    </div>
    <i class="fa-regular fa-bell"></i>
    <img src="/images/other/Avatar Style 6.png" alt="">
</div>
<!-- /SEARCH -->
</div>
