<div class="app-section">
    <div class="side-bar-section">
        <div class="nav-links">
            <div class="sidebar-head">Employee</div>
            <div class="sidebarhead">Management</div>
        </div>
    </div>


    <!-- NAV LINKS -->

    <div class="nav-bar-Powered">
        <ul class="navbars">
            <li><a href="/home"><i class="fa-solid fa-house"></i> <span class="navrbars-text">Dashboard</span></a>
            </li>
            <li><a href=""><i class="fa-solid fa-chart-simple"></i><span
                        class="navrbars-text">Employees</span></a></li>
            <li><a href=""><i class="fa-solid fa-user"></i><span class="navrbars-text">My Profile</span></a>
            </li>
            <li><a href="/"><i class="fa-solid fa-lock"></i><span class="navrbars-text">Logout</span></a></li>
    
        </ul>
          <!-- powered bye area -->
    <div class="sidebar-copyright">
        <div class="Powered">Powered by</div>
        <img src="/images/other/logo.png" alt="logo">
    </div>

    </div>
    <!-- / NAV LINKS -->
</div>