 <!-- / starting -->

 <div class="ViewEmployeeBox">
    <div class="ViewEmployeeBox-inner-section">

        <!-- view employee top section profile image and name and coverimage and email -->

        <div class="employee-details">
            <img class="cover-image" src="/images/other/Background Image.png">
            <img class="employeeProfileImage" id="employeeimage" src="">
            <div class="img-head">
                <div class="employee-name" id="employeeFullname">Mr.Michael Johnson</div>
                <div class="employee-text-content" id="employeeEmail">michaelj.@gmail.com</div>
            </div>
        </div>


        <div class="viewEmployeeMainDetails">
            <!-- row1 -->

            <div class="form-table">
                <div class="employe-details-text">
                    <div class=" employee-text-content">Gender</div>
                    <div class="employee-main-details" id="employeeGender">Female</div>

                </div>

                <div class="employe-details-text">
                    <div class=" employee-text-content">Age</div>
                    <div class="employee-main-details" id="employeeAge">37</div>

                </div>

                <div class="employe-details-text">
                    <div class=" employee-text-content">Date of Birth</div>
                    <div class="employee-main-details" id="employeDob">12 december 1980</div>

                </div>
            </div>

            <!-- row2 -->
            <div class="form-table">
                <div class="employe-details-text viewBox">
                    <div class="employee-text-content">Mobile Number</div>
                    <div class="employee-main-details" id="employeePhone">7510129509</div>

                </div>

                <div class="employe-details-text viewBox">
                    <div class=" employee-text-content">Qualification</div>
                    <div class="employee-main-details" id="employeeQualification">BCA</div>

                </div>

            </div>

            <!-- row3 -->
            <div class="form-table">
                <div class="employe-details-text viewBox">
                    <div class=" employee-text-content">Address</div>
                    <div class="employee-main-details" id="employeeAddress">North No-12 Garden villa
                        Cochin
                    </div>

                </div>

                <div class="employe-details-text viewBox">
                    <div class=" employee-text-content">Username</div>
                    <div class="employee-main-details" id="employeeUsername">michaeljohn</div>

                </div>

            </div>

            <div class="viewemployeeDetailsBtn">
                <button type="button" class="filled-btn delete-btn" onclick="deleteData(employeeID)">Delete</button>
                <button type="button" class="filled-btn" onclick="openForm(); viewEmployeeEdit()">EditDetails</button>
            </div>

        </div>
    </div>

</div>
</div>

<!-- / end -->