<!-- COPYRIGHT -->
<footer class="copyright">
    <div class="copyright-content">
        <div class="cp-text">&copy; 2024 All Rights Reserved.<strong>Stackup</strong></div>
        <div class="Terms">
            <div class="tems-text">Terms of Use</div>
            <div class="Privacy">Privacy Policy</div>
        </div>
    </div>
</footer>

<!-- /COPYRIGHT -->
</div>

</section>
<script src="javascript/view.js"></script>
</body>
</html>